body {
    background-color: black;
    border:0;
    margin:0;
    text-align: center;
}

header{
    background-color: brown;
    margin:0;
    padding:0;
}

header p{
    margin:0;
    padding:0;
}
iframe {
    width: 50%;
    height: auto;
}

.post {
    background-color: lightyellow;
    margin:0;
    padding:0;
}

footer {
    color: blue;
}

footer li {
    list-style-type: none;
}