body {
    background: grey;
    margin: 0;
    padding: 0;
    text-align: center;
}

#nav {
    list-style-type: none;
}

li {
    display: inline;
}

#game {
    background: blue;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    margin: 0 auto;
    padding: 0;
    position: relative;
    overflow: hidden;
    text-align: center;
}
#player {
    background-color: brown;
    height: 10px;
    width: 25px;
    position: absolute;
}